.product-container {
  background-color: #e6e6e6;
}

.travel-blog h1 {
  font-size: 24px;
  color: #5d5d81;
}

.travel-blog-picture {
  display: flex;
  flex-wrap: wrap;
}

.travel-blog-picture img {
  width: 30%;
  margin: 21px;
}

.travel-blog h2 {
  font-size: 16px;
  color: #484349;
}
